/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*--- General styles ---*/

i {
    color: #c79d2f;
  }

html {
  font-size: 16px;
}

body {
  background-color: #161717;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #dddddd;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #fff;
  line-height: 1.5;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Signika Negative', sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.5rem;
}

p, li {
  font-size: 1rem;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

img {
  margin: 20px 0 0 0;
  filter: drop-shadow(1px 2px 6px #c79d2f);
  width: 100%;
}

address {
  font-style: normal;
}

.project-link {
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* ------ Structural Styles ------ */

.content {
  text-align: center;
}

header,
#projects,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 85%;
}

#projects p, #about p {
  width: 100%;
}

/******** Zero all margins ********/

h1, h2, h3, h4, h5 {
  margin:0;
}

p {
  margin: 0;
}

/******** Now set margin and paddings to required values for any element ********/

.portfolio,
.skills,
.about-area,
.footer {
  margin: 120px 0 0 0;
}

footer {
  padding: 80px 0;
}

h2 {
  padding: 40px 0 40px 0;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin: 0 0 40px 0;
}

.hero-area {
  margin: 0;
}

.project-title {
  margin: 1.5rem 0rem;
}

.project-info {
  margin: 2rem 0rem;
  padding: 2rem;
}

.project-description {
  margin: 1.5rem 0rem;
}

.project-skills {
  margin: 1.5rem 0rem;
}

.project-link {
  margin: 1.5rem 0rem;
}

.about-area h4 {
  font-family: 'signika negative' sans-serif;
  margin-top: 30px;
}

#skills h4 {
  margin: 40px 0 40px 0;
}

.contact-info {
  margin: 0 0 40px 0;
}

.social h3 {
  margin: 0;
}

.social p {
  margin: 0 0 40px 0;
}

.copyright {
  margin-top: 50px;
}

/* ------------------------- Base Header Styles -------------------- */

header {
  padding: 30px 0 140px 0;
  }

header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
 }

.header-divider {
  background: #dddddd;
  width: 100%;
  height: 1px;
  margin: 40px 0 40px 0;
}

#navbar {
  overflow: hidden;
  background-color: #161717;
}

#navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 10px 0;
    justify-content: space-evenly;
    z-index: 1;
  }
  
.navbarOffsetMargin {
  padding-top: 45px;
}

nav a.active {
  color: #c79d2f;
  background: #161717;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  font-size: 1.125rem;
  font-weight: 400;
  width: 100%;
 }

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
 }

header nav ul li {
  font-size: 1.125rem;
}

ul li a:hover {
  color: #c79d2f;
}


/* ==================== Mobile styles - Homepage ==================== */

/* ---------------- Hero Area ----------------*/

.hero-area .content-wrapper {
  width: 100%;
}

.hero-area {
 display: flex;
 justify-content: center;
 flex-flow: row wrap;
 background: url('../img/full-backgroundbw.png') center no-repeat;
 background-size: cover;
}

.hero-area h1 {
  font-size: 3.25em;
  font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.5;
  margin: 70px 0 70px 45px;
  width: 65%;
}

.hero-area span {
  color: #c79d2f;
}

/* ---------------- Portfolio Area ---------------- */

#projects,
#skills {
  width: 100%;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.portfolio-piece {
  margin: 3rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  color: #c79d2f;
  text-align: center;
  /* margin-bottom: 30px; */
  /* line-height: 1; */
  width: 100%;
}

#projects p {
  text-align: left;
  color: #dddddd;
  width: 100%;
}

.project-info {
  width: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-link {
  padding: .75rem 3.75rem;
  border-radius: 30px;
  color: #dddddd ;
  background-color: #c79d2f;
  cursor: pointer;
}

.project-link:hover {
  color: #262829;
  background-color: #fff;
}

/* ---------------- Skills Area ----------------*/

#skills .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills h2 {
  color: #c79d2f;
  width: 100%;
}

#skills h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

#skills p {
  line-height: 1.7;
}

.skill-list {
  display: flex;
  flex-flow: row wrap;
  font-variant: small-caps;
  align-content: center;
  justify-content: space-around;
  margin: 3rem 2rem;
}

#skills ul li {
  padding: 1rem;
}

.skill-list li {
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 35%;
}

.skill-list li i {
  color: #fff;
  font-size: 2.5rem;
}

.design-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 584.5 432.5'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Mobile_Icon' data-name='Mobile Icon'%3E%3Cpath class='cls-1' d='M569.5,166.5H529V10A10,10,0,0,0,519,0H10A10,10,0,0,0,0,10V23.5H509.69v143H470.5a15,15,0,0,0-15,15V309H0v44a10,10,0,0,0,10,10l210.5,1.5L208,413H188v13H341V413H321l-10.5-50h145v54.5a15,15,0,0,0,15,15h99a15,15,0,0,0,15-15v-236A15,15,0,0,0,569.5,166.5Zm7.59,243.89a15,15,0,0,1-15,15h-84a15,15,0,0,1-15-15v-221a15,15,0,0,1,15-15h2.28a7.61,7.61,0,0,0-.27,2.94v3.11c0,2.73,2.94,4.95,6.56,4.95h69.87c3.62,0,6.56-2.22,6.56-4.95v-3.11a5.83,5.83,0,0,0-.54-2.92,15,15,0,0,1,14.54,15Z'/%3E%3Crect class='cls-1' y='23.5' width='19.31' height='285.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 45px;
}

.code-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 542 439'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;stroke:%23fff;stroke-miterlimit:10;stroke-width:13px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='code_angles' data-name='code angles'%3E%3Cpath class='cls-1' d='M140.9,176.35l59.75-59.75L140.9,176.35,201,229.5Z'/%3E%3Cpath class='cls-1' d='M341.06,229.69,400.87,170l-60.05-53.21L400.87,170Z'/%3E%3Cpath class='cls-1' d='M525.5,6.5H16.5a10,10,0,0,0-10,10v343a10,10,0,0,0,10,10L227,371l-12.5,48.5h-20v13h153v-13h-20l-10.5-50H525.5a10,10,0,0,0,10-10V16.5A10,10,0,0,0,525.5,6.5Zm-9.31,309H25.81V30H516.19Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 45px;
  }

.ai-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 79 79'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-1' width='79' height='79' rx='13'/%3E%3Cpath d='M24.81,47.52,21.65,58h-7L26.54,20.94h8.63L47.21,58H39.94L36.58,47.52Zm10.66-5.11-2.92-9.14c-.72-2.29-1.33-4.81-1.89-7h-.12c-.54,2.18-1.11,4.74-1.76,7l-2.86,9.16Z'/%3E%3Cpath d='M59,23.73a3.6,3.6,0,0,1-3.86,3.66A3.66,3.66,0,1,1,59,23.73ZM51.86,58V31.23h6.77V58Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}

.ps-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 79 79'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-1' width='79' height='79' rx='13'/%3E%3Cpath d='M17.38,21.41a61.77,61.77,0,0,1,10.37-.76c4.94,0,8.55,1,10.91,3a10.42,10.42,0,0,1,3.63,8.2,11.33,11.33,0,0,1-3.16,8.4c-2.72,2.7-6.91,4-11.72,4A16.15,16.15,0,0,1,24.1,44V58H17.38ZM24.1,38.69a13.74,13.74,0,0,0,3.32.31c5.06,0,8.15-2.53,8.15-6.87,0-4.08-2.86-6.28-7.55-6.28a19.56,19.56,0,0,0-3.92.32Z'/%3E%3Cpath d='M46.41,51.77a14.82,14.82,0,0,0,6.83,2c3,0,4.31-1.25,4.31-3s-1.1-2.73-4.39-3.9c-5.24-1.8-7.43-4.65-7.4-7.82,0-4.71,3.91-8.38,10.16-8.38a15.46,15.46,0,0,1,7.1,1.6L61.67,37A12.22,12.22,0,0,0,56,35.43c-2.41,0-3.75,1.19-3.75,2.84s1.29,2.52,4.68,3.75c4.87,1.72,7.12,4.21,7.14,8.15,0,4.89-3.8,8.41-10.87,8.41a17.35,17.35,0,0,1-8.16-1.88Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}

.coffee-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 180.03 219.5'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:%23fff;%7D.cls-1,.cls-2%7Bstroke:%23fff;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cellipse class='cls-1' cx='105.23' cy='175.15' rx='74.85' ry='28.89' transform='translate(-21.9 15.19) rotate(-7.48)'/%3E%3Cellipse class='cls-2' cx='104.88' cy='175.32' rx='62.9' ry='24.28' transform='matrix(0.99, -0.13, 0.13, 0.99, -21.93, 15.14)'/%3E%3Cpath id='cup_base' data-name='cup base' class='cls-3' d='M76,131h75.5c0,48.55-34.08,88.5-75.5,88.5S.5,179.55.5,131V131Z'/%3E%3Cellipse class='cls-2' cx='76' cy='130.5' rx='75.5' ry='11'/%3E%3Cpath class='cls-3' d='M143.77,30.1C137.54,32.35,133.45,38.55,133,45c-.27,3.54,1.1,6.83,1.81,10.23a28.18,28.18,0,0,1,.21,9.78c-1,6.37-3.89,12.94-9,17-2.68,2.11-5.87,3.46-8.53,5.61a18.81,18.81,0,0,0-5.24,6.81c-2.72,6-3.27,13.39.29,19.14,2,3.27,7.23.26,5.18-3-2.27-3.67-2.11-8.75-.43-12.77a13.4,13.4,0,0,1,4.44-5.91c2.62-2,5.64-3.32,8.23-5.36,5.1-4,8.48-10.17,10.15-16.39a36.47,36.47,0,0,0,1.25-10.08,42,42,0,0,0-1.69-10.19c-.82-3.08-.89-5.82.41-8.55,1.18-2.46,3.19-4.67,5.37-5.45a3.09,3.09,0,0,0,2.1-3.69,3,3,0,0,0-3.69-2.1Z'/%3E%3Cpath class='cls-3' d='M6.64,38.21A15.53,15.53,0,0,0,8.45,55.78c2.26,2.63,5.4,3.84,8.44,5.32a26.16,26.16,0,0,1,7.61,5.54c4.41,4.64,7.14,11.08,6.54,17.54-.32,3.43-1.93,6.57-2.78,9.86a18,18,0,0,0,.12,9.92c2.05,6.54,7.76,12.14,14.67,13.15a3.1,3.1,0,0,0,3.69-2.1c.39-1.41-.48-3.45-2.09-3.69a13,13,0,0,1-10.49-9,12.44,12.44,0,0,1,.12-7.58c1-3.41,2.34-6.6,2.72-10.17a27.79,27.79,0,0,0-5.51-18.9,33.42,33.42,0,0,0-7-7c-2.62-2-5.54-3.08-8.41-4.57a9.3,9.3,0,0,1-4.24-12.87c1.92-3.36-3.26-6.38-5.18-3Z'/%3E%3Cpath class='cls-3' d='M79.57,108.19a3.25,3.25,0,0,1-1.43-1,5.34,5.34,0,0,1-.39-.44c.08.11.24.37-.06-.12a5.33,5.33,0,0,1-.31-.51s-.42-.83-.23-.39a8.56,8.56,0,0,1-.61-4.72,13.53,13.53,0,0,1,2.3-5.19,37.32,37.32,0,0,1,4.59-5.15c3.42-3.4,7-6.86,8.92-11.36a15.55,15.55,0,0,0-1-14.52A25.82,25.82,0,0,0,81,55.63c-4.67-2.38-9.8-3.85-14.18-6.79a25.52,25.52,0,0,1-10.93-21.1A25.56,25.56,0,0,1,70.38,5.55a3,3,0,0,0,1.08-4.11A3.07,3.07,0,0,0,67.35.37a31.49,31.49,0,0,0-16.91,22,31.43,31.43,0,0,0,8,27.22c3.6,3.86,8.09,6.3,12.9,8.33,4.55,1.93,9.25,3.75,12.76,7.34,3,3.09,4.49,6.84,3,11-1.59,4.48-5.59,7.75-8.83,11-3.95,4-7.65,8.73-7.84,14.6-.16,5.21,2.46,10.25,7.5,12.08a3,3,0,0,0,3.69-2.1,3.07,3.07,0,0,0-2.1-3.69Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}

.cooking-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333.14 228.38'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:5px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M128.06,6.4l78.89,0,78.9,0h44.26c3.86,0,3.87-6,0-6l-78.72,0L172.5.42,128.06.4c-3.86,0-3.87,6,0,6Z'/%3E%3Cpath class='cls-1' d='M125,3.14a408.68,408.68,0,0,1-.18,41.12,3,3,0,0,0,6,0A408.68,408.68,0,0,0,131,3.14a3,3,0,1,0-6,0Z'/%3E%3Cpath class='cls-1' d='M128.09,47.46c7.79-.32,15.57-.63,23.36-.64,7.52,0,15,.36,22.54.54,15.33.38,30.67.41,46,.2,7.6-.1,15.21-.13,22.8-.67a192.05,192.05,0,0,0,21.77-2.84,187.19,187.19,0,0,0,41.89-13.21c12-5.39,24.86-13.68,26.66-27.84.2-1.61-1.53-3-3-3a3.08,3.08,0,0,0-3,3,18.41,18.41,0,0,1-2.57,7,26.26,26.26,0,0,1-4.95,5.85,55.75,55.75,0,0,1-13.93,8.82,176.91,176.91,0,0,1-40,13.11,180.69,180.69,0,0,1-20.59,3c-7.21.6-14.45.69-21.68.8-15,.24-30.09.25-45.13,0-8.29-.17-16.58-.6-24.88-.64s-16.87.29-25.31.64a3.06,3.06,0,0,0-3,3,3,3,0,0,0,3,3Z'/%3E%3Cpath class='cls-1' d='M129,.13C97.16.52,65.28.8,33.41,1.32a77.36,77.36,0,0,0-11.18.82A40.73,40.73,0,0,0,11.47,5.59a3,3,0,0,0-1.07,4.1,3.06,3.06,0,0,0,4.1,1.08c5.73-2.68,11.61-3.3,17.83-3.43,7.77-.17,15.55-.21,23.32-.3l46.92-.58L129,6.13c3.86,0,3.87-6,0-6Z'/%3E%3Cpath class='cls-1' d='M11.36,5.26C3.85,9.75-1.6,18.65.43,27.61c.91,4,3.63,8.06,7.46,9.82a10.92,10.92,0,0,0,7.08.75c2.56-.56,4.76-2.07,7.15-3.06,4.58-1.91,9.63-2.24,14.54-2.35,5.57-.12,11.15-.1,16.72-.14l34.45-.24,38.66-.27c3.86,0,3.87-6,0-6l-64.92.46-16.38.11a147,147,0,0,0-15,.46,39.86,39.86,0,0,0-7.5,1.42,51.05,51.05,0,0,0-6.89,3,9.5,9.5,0,0,1-2.64.91,5.69,5.69,0,0,1-1,0c-.6,0-.31,0-.16,0a5.86,5.86,0,0,1-.92-.22,4.64,4.64,0,0,1-1.67-.89,7.83,7.83,0,0,1-.63-.56l-.45-.48c-.06-.06-.47-.56-.26-.29a10,10,0,0,1-.9-1.42c-.11-.2-.21-.4-.31-.6,0,0-.2-.48-.1-.22a13.37,13.37,0,0,1-.51-1.63c0-.22-.1-.44-.14-.66a1.12,1.12,0,0,1-.05-.37,14.12,14.12,0,0,1,.85-6,16.67,16.67,0,0,1,7.48-8.71c3.31-2,.3-7.17-3-5.18Z'/%3E%3Cpath class='cls-1' d='M169.08,35.28c15.83-.63,31.66,0,47.49.1s31.94-.54,47.62-3.62a130.28,130.28,0,0,0,26.25-8.09c1.49-.64,1.82-2.83,1.08-4.11a3.09,3.09,0,0,0-4.11-1.07c-14.28,6.13-29.75,9-45.18,10.14-15.6,1.15-31.26.7-46.89.48-8.75-.13-17.51-.18-26.26.17a3.06,3.06,0,0,0-3,3,3,3,0,0,0,3,3Z'/%3E%3Crect class='cls-2' x='50.62' y='66.88' width='231' height='159' rx='15'/%3E%3Cpath class='cls-1' d='M225.55,116.81a10.08,10.08,0,0,1,1.44-.35c-.32.05-.16,0,.06,0l.73,0c.24,0,.48,0,.72,0s.38,0,.06,0a11.76,11.76,0,0,1,1.43.31c.43.12.85.26,1.27.42s-.21-.12.25.1l.68.33a21.51,21.51,0,0,1,2.48,1.5l.5.36c.78.58-.2-.16.23.19s.7.58,1,.88c.68.62,1.34,1.27,2,2a19.26,19.26,0,0,1,3.25,4.87,3,3,0,0,0,4.1,1.08,3.07,3.07,0,0,0,1.08-4.11,27.33,27.33,0,0,0-9.38-10.58c-3.9-2.67-8.85-4.2-13.49-2.76a3,3,0,1,0,1.59,5.79Z'/%3E%3Cpath class='cls-1' d='M229.28,116.59c3.17,0,6.12,2.31,8.27,4.44s3.92,4.87,3.94,7.86a20.53,20.53,0,0,1-2.37,8.69c-1.4,3-3,5.86-4.61,8.74-3.41,6.18-7.23,12.17-12.55,16.89a117.65,117.65,0,0,1-19.13,13.31,89.9,89.9,0,0,1-20.72,9.18c-3.21.9-6.8,2-10.15,1.94a5.33,5.33,0,0,1-1.86-.25,2.29,2.29,0,0,1-.65-.29c-.29-.19-.13-.07-.06,0-.27-.17-.1-.26-.12-.15s.08.42.07.4c.13.18-.45,0,0,0,0,0,.16-.23,0-.05a4.34,4.34,0,0,1,1.58-1.06c3.3-1.7,6.61-3.31,9.78-5.24a80.75,80.75,0,0,0,9.48-6.76,84.44,84.44,0,0,0,15.41-16.79,81.08,81.08,0,0,0,10.51-20.7c1.89-5.65,2.3-12.47,6-17.16a9,9,0,0,1,3.63-2.82c1.49-.64,1.83-2.82,1.08-4.1a3.09,3.09,0,0,0-4.11-1.08c-7.11,3.1-9.23,11.59-10.92,18.39a72.12,72.12,0,0,1-9.24,21.28,79.69,79.69,0,0,1-15.9,18.17,72.3,72.3,0,0,1-9.71,6.85c-1.78,1.06-3.6,2.06-5.44,3a40.38,40.38,0,0,0-4.88,2.55,6.81,6.81,0,0,0-3.24,5.28,6,6,0,0,0,3,5.24c3.49,2.11,7.85,1.32,11.6.54a87.15,87.15,0,0,0,23.47-8.68,144.54,144.54,0,0,0,21.79-14.26,62.51,62.51,0,0,0,15.07-18.15c1.84-3.18,3.61-6.42,5.26-9.7a33.8,33.8,0,0,0,3.7-10.69,15.44,15.44,0,0,0-2.65-11.11,25.26,25.26,0,0,0-9-8,13.78,13.78,0,0,0-6.4-1.65c-3.86,0-3.87,6,0,6Z'/%3E%3Cpath class='cls-1' d='M240.85,116.37c.15-.54.32-1.08.52-1.61,0-.06.31-.74.17-.42s.16-.35.19-.41a19.34,19.34,0,0,1,1.54-2.64c.16-.23.32-.45.49-.67-.36.46.2-.23.22-.26.3-.35.61-.69.93-1s.78-.77,1.2-1.13c0,0,.61-.5.33-.28s.39-.28.46-.33a17.57,17.57,0,0,1,2.58-1.51c.2-.1.41-.2.61-.28-.58.24.24-.08.29-.1.47-.17.94-.31,1.42-.44s1-.22,1.46-.3c.65-.12-.44,0,.29,0l.68,0a12.85,12.85,0,0,1,1.52,0c.28,0,.56,0,.84.06.66.06-.4-.07.32.05a3.07,3.07,0,0,0,3.69-2.09c.33-1.45-.44-3.42-2.1-3.7a19.68,19.68,0,0,0-14.62,3.2,22.67,22.67,0,0,0-8.82,12.36,3,3,0,1,0,5.79,1.59Z'/%3E%3Cpath class='cls-1' d='M220.72,115.05c0-.1-.17-.4-.05-.13s.08-.35,0,0-.13.56-.19.84a9.66,9.66,0,0,0-.35,2.45,5.26,5.26,0,0,0,2.92,4.65,7.54,7.54,0,0,0,5.09.28c.6-.14,1.2-.32,1.8-.45l.41-.08c.48-.08-.45,0,0,0,0,0,.38,0,.39,0s-.76-.3-.79-.33c-.21-.17-.14-.39,0,0,.05.23.12.46.18.69.16.54.34,1.07.55,1.59a8.65,8.65,0,0,0,2.17,3.41,5.67,5.67,0,0,0,4.22,1.44,7.38,7.38,0,0,0,2.57-.74c-.55.24.1,0,.31-.07s.24-.05.35-.09c-.23.07-.46,0-.11,0A1.82,1.82,0,0,1,239,128c-.16-.14,0-.33-.08-.11a2.8,2.8,0,0,0,.15.65c.14.64.22,1.29.39,1.92a7.11,7.11,0,0,0,3.22,4.39,3,3,0,0,0,3-5.18s-.44-.27-.18-.1-.11-.08-.1-.12.31.32.08.1a1.77,1.77,0,0,1-.19-.33c.3.54,0-.16-.07-.35s-.14-.59-.2-.89a7.13,7.13,0,0,0-1.62-4,5.1,5.1,0,0,0-4.74-1.15,9.22,9.22,0,0,0-1.87.66c-.24.1-.66.18-.19.06,0,0,.51,0,.17,0s-.54-.13,0,.06c-.54-.18.45.27,0,0s.4.32,0,0,.18.39-.06-.07a6.66,6.66,0,0,0-.38-.69c-.23-.35.15.47,0,.06,0-.11-.08-.22-.12-.33s-.16-.46-.23-.69c-.15-.49-.25-1-.4-1.48a5.27,5.27,0,0,0-4.72-3.66,12.76,12.76,0,0,0-4.05.65c-.32.08-.64.16-1,.21l.12,0c-.36.07-.44-.2-.11.05,0,0-.42-.2-.13,0s-.4-.52.11.15c.15.2.17.26.29.42v0s0-.5,0-.16.06-.23.08-.29c.07-.33.16-.65.23-1a8.72,8.72,0,0,0,.08-3.22c-.25-1.6-2.26-2.49-3.69-2.09a3.08,3.08,0,0,0-2.1,3.69Z'/%3E%3Cpath class='cls-1' d='M108.58,154c2.77,1.31,4.49,3.59,7.2,5.23a14.18,14.18,0,0,0,6.52,1.87,37.67,37.67,0,0,0,6.8,0c2.08-.18,4.47-.41,6.26-1.61,2.95-2,3.18-6.37,3.43-9.56a38.77,38.77,0,0,0-.63-10.31,34.43,34.43,0,0,0-9.45-17.83c-9.67-9.58-24.73-13-37.05-6.59s-18,20.27-17.73,33.74a49.15,49.15,0,0,0,.39,5.29,7,7,0,0,0,3.44,5.34c1.9,1.16,4.36,1.24,6.53,1.28a21.2,21.2,0,0,0,6.14-.72,24,24,0,0,0,5.85-2.73c.88-.53,1.74-1.08,2.62-1.6l.76-.43s1.19-.59.73-.4a16.63,16.63,0,0,1,4.3-1.08,7.9,7.9,0,0,1,4,.33,3,3,0,0,0,3.69-2.1,3.07,3.07,0,0,0-2.09-3.69c-2.58-1-5.58-.67-8.21-.18a22.75,22.75,0,0,0-7.72,3.28c-2.61,1.62-5.14,3.09-8.28,3.29a17,17,0,0,1-4.51-.16c-.55-.12-.6-.28-1.1-.55,0,0-.36-.42-.21-.2s0-.29,0-.49c-1.42-11,1.34-23.55,10.53-30.58a23.78,23.78,0,0,1,15-5A27.81,27.81,0,0,1,121,123.12c9.33,6.53,13.55,18.69,11.44,29.76-.06.3-.56,1.7-.52,1.78s0,.1-.06.08c.17.07.63-.51,0-.08.59-.39.43-.15.14-.07l-.69.2c-.46.12-.92.19-1.38.27-.84.15.63,0-.25,0l-.82.08c-.57,0-1.15.07-1.72.09-1.25,0-2.49,0-3.74,0l-1.57-.12-.48-.06c.84.1-.11,0-.28-.06-.33-.06-.69-.21-1-.24-.54-.06.8.42.13.06-.44-.24-.9-.45-1.33-.71a19.83,19.83,0,0,1-2.81-2.27,18.81,18.81,0,0,0-4.39-3,3.09,3.09,0,0,0-4.11,1.08,3,3,0,0,0,1.08,4.1Z'/%3E%3Cpath class='cls-1' d='M96.89,152.28c-1,3-1.83,6.1-2.69,9.17s-2.1,6.21-2.72,9.38c-1.1,5.62-1.33,12.55,3.48,16.58a11.52,11.52,0,0,0,2.21,1.51c.34.18,1.71.54,1.73.74l.11,0c-.3-.16-.52-.2,0,.12a7.61,7.61,0,0,0,2.83.66c-.33-.06.29.09.28.09.36.11.7.29,1.06.41a11.39,11.39,0,0,0,2.89.51c6.68.43,14.45-5.4,14.23-12.42a46.45,46.45,0,0,0-1-6.42l-1.16-6.79-2.26-13.1a3,3,0,0,0-3.69-2.09,3.06,3.06,0,0,0-2.09,3.69l3.58,20.86a23.16,23.16,0,0,1,.58,4.3,4.61,4.61,0,0,1-1.57,3.12,9.29,9.29,0,0,1-5.61,2.86,6.36,6.36,0,0,1-3-.57,20.54,20.54,0,0,0-2.44-.46c-.37-.09,0,0,0,0-.67-.27-.08-.17-1.06-.55-.51-.19-.46-.31,0,0-.44-.34-1.07-.59-1.55-.89-.15-.09-.37-.35.14.11l-.47-.41a10.09,10.09,0,0,1-.77-.83c.43.53-.26-.46-.36-.64s-.17-.32-.25-.48c.26.53-.16-.52-.2-.64a18.43,18.43,0,0,1,.12-7.74c.62-3.16,1.85-6.26,2.72-9.37s1.67-6.16,2.69-9.18a3,3,0,0,0-5.79-1.59Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  height: 36px;
  width: 55px;
}

/* ---------------- About Me ----------------*/

.about-area .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  padding-top: 40px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #565656;
  align-items: center;
}

.about-photo {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 60px 0 40px 0;
  width: 50%;
}

.about-photo img {
  filter: none;
  margin: 0;

}

.about-text {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80%;
}

.about-area h2 {
  color: #c79d2f;
}

.about-area h4 {
  color: #fff;
  text-align: center;
}

.about-area p {
  color: #dedede;
  text-align: left;
  margin-bottom: 1em;
}

.about-area span {
  color: #c79d2f;
}
/* ------------------------ Base Footer Styles ------------------------- */

footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.contact-info, 
.social {
  margin: 0 0 60px 0;
}

.contact-info {
  width: 60%;
}

.contact-title {
  margin: 0 0 40px 0;
}

footer h3 {
  color: #c79d2f;
  font-weight: 400;
  margin-bottom: 60px;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
}

footer p {
  color: #dddddd;
  margin: 0;
}

footer ul {
  width: 100%;
}

footer address a {
  font-size: 1rem;
  color: #c79d2f;
  margin-top: 40px;
}

footer .follow-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
}

footer .social-icons li i {
  font-size: 2rem;
}

footer .copyright {
  width: 100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /* ================================ 
          Tablet styles here 
     ===============================*/


  /* ------ General Styles ------*/

  .content-wrapper {
    max-width: 640px;
  }


  /*------ Font Styles ------*/

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
  font-size: 2rem;
  line-height: 1.25;
  }

  h4 {
  font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  /** List elements already have 20px of bottom margin **/


  /*---------------- Header ---------------*/

  header {
    justify-content: space-around;
    padding: 60px 0 200px 0;
  }

  header .content-wrapper {
    justify-content: space-between;
    width: 100%;
  }

  header .header-divider {
    display: none;
  }

  header h3 {
    font-size: 1.75rem;
    width: 50%;
  }

  header nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  header nav ul li {
    font-size: 1.125rem;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }


    /*---------------- Hero Area ----------------*/

  .hero-area {
    min-height: 600px;
  }

  .hero-area h1 {
    font-size: 4rem;
    line-height: 1.75;
    margin-top: 100px;
  }


  /*---------------- Portfolio Area ----------------*/

  .portfolio-area figure {
    margin: 0;
  }

  .portfolio-area h4 {
    margin: 30px 0 10px 0;
  }

  .portfolio-wrapper {
    justify-content: space-around;
  }

  .project-description {
    width: 95%;
  }

  .portfolio-piece {
    width: 45%;
    align-items: center;
  }

  .skill-list li {
    flex-basis: 20%;
  }


  /*---------------- About Me ----------------*/

  .about-area .content-wrapper {
    justify-content: center;
    /* width:90%; */
    max-width: inherit;
    /* padding-left: 40px; */
  }

  .about-photo {
    width: 40%;
  }

  .about-area h3 {
    color: #c79d2f;
    text-align: center;
    padding-bottom: 20px;
    line-height: 1;
  }

  .about-area h4 {
    color: #fff;
    margin: 25px 0 25px 0;
    text-align: center;
  }

  .about-area p {
    font-size: 1rem;
    color: #dedede;
  }


  /*---------------- Footer ----------------*/

  footer {
    padding: 140px 0;
  }

  footer .contact-wrapper {
    display: flex;
    justify-content: space-around;
  }

  footer .contact-info {
    margin: 40px 0 80px 0;
    width: 33%;
  }

  footer h3 {
    margin-bottom: 60px;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }

  footer .social-icons li i {
    font-size: 2rem;
  }

  footer .copyright {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {


/* ========== added for landscape view on tablets and iPad Pro ==========*/

  .content-wrapper {
    max-width: 900px;
  }

  .about-area .content-wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: inherit;
  }

  .about-photo {
    margin: 0 0 0 35px;
    width: 35%;
  }

  .about-photo img {
    padding-top: 60px;
  }

  .about-text {
    margin-right: 35px;
    width: 55%;
  }
}

@media only screen and (min-width: 1200px) {


  /* ========================= 
        Desktop styles here 
     ========================= */

  .content-wrapper {
    max-width: 1450px;
 }


  /*--------------- Font styles ----------------*/

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }


  /*---------------- Header ----------------*/

header .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 90%;
}

header {
  padding: 80px 0 200px 0;
}

header h3 {
  font-size: 2.75rem;
}

header nav {
  justify-content: space-around;
}

nav ul li a {
  font-size: 1.25rem;
  padding: 10px 10px;
}


  /*---------------- Hero-area ---------------*/

.hero-area h1 {
  font-size: 4.5rem;
  margin: 200px 100px 100px 100px;
}


  /*--------------- Portfolio-area ---------------*/

.portfolio-area .header-divider {
  margin: 10px 0 10px 0;
}

.portfolio-area article {
  display: flex;
  justify-content: space-between;
}

.portfolio-area figure {
  margin: 40px 0 20px 0;
  width: 49%;
}

.portfolio-area article div {
  width: 49%;
  align-items: center;
}

.portfolio-piece {
  width: 30%;
}


  /*---------------- About ---------------*/

#about p {
  font-size: 1.25rem;
  width: 80%;
}


  /*---------------- Footer ----------------*/

footer .content-wrapper {
  max-width: 70%;
}

footer {
  padding: 140px 0 140px 0;
}

footer address a {
  font-size: 1.25rem;
}

footer .social-icons {
  width: 12.5rem;
  justify-content: space-between;
}
}



@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}